<h1>Sign up</h1>

<form action="<%= users_url %>" method="post">
    <%= auth_token %>

    <label for="email">Email</label>
    <input type="text" name="user[email]" id="email" value="<%= @user.email %>" >

    <label for="password">Password</label>
    <input type="password" name="user[password]" id="password" value="<%= @user.password %>" >

    <button>Submit</button>
</form>